<div class="fields">
  <fieldset>
    <%= builder.label "Inflow items" %> <br />
    <%= builder.label :quantity, "Quantity" %> <br />
    <%= builder.number_field :quantity %> <br / >
    <%= builder.label :product_id, "Product" %> <br />
    <%= builder.number_field :product_id %> <br / >
  	<%= link_to_remove_fields "remove", f %>
  </fieldset>
</div>