<div class="fields">
	<%= form.fields_for :outflow_item do |builder| %>
	  <fieldset>
	    <%= builder.label "Outflow item" %> <br />
	    <%= builder.label :quantity, "Quantity" %> <br />
	    <%= builder.number_field :quantity %> <br / >
	    <%= builder.label :product_id, "Product" %> <br />
	    <%= builder.number_field :product_id %> <br / >
    	<%= link_to_remove_fields "remove", f %>
	  </fieldset>
	<% end %>
</div>