<%= form_for(outflow) do |f| %>
  <% if outflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outflow.errors.count, "error") %> prohibited this outflow from being saved:</h2>

      <ul>
      <% outflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= I18n.t('views.outflow_guide') %></strong>
  </p>

  <div class="fields">
    <%= f.label :total %>
    <%= f.number_field :total %>
    <%= f.label :paid %>
    <%= f.number_field :paid %>
    <%= f.label :cash %>
    <%= f.check_box :cash %>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <%= f.label :supplier_id %>
    <%= f.number_field :supplier_id %>
  </div>

   <%= f.fields_for :outflow_items do |builder| %>
    <%= render "outflows/outflow_items_fields", :builder => builder %>
  <% end %>

  <p><%= link_to_add_fields I18n.t('helpers.buttons.add'), f, :outflow_items %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
