<%= simple_form_for(@outflow, html: { class: 'form-vertical' }) do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <%= render 'shared/errors', klass: outflow %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <%= f.input :total %>
      </div>
      <div class="col-4">
        <%= f.input :paid %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :supplier_id, collection: @suppliers %>
      </div>
      <div class="col-4 mt-5">
        <%= f.input :cash, input_html: { checked: true }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :notes %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4><%= I18n.t('activerecord.models.outflow_item.other') %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 outflow_items">
        <%= f.simple_fields_for :outflow_items do |builder| %>
          <%= render "outflow_item_fields", f: builder %>
          <div class="links">
            <button type="button" class="btn btn-outline-primary">
              <%= link_to_add_association I18n.t('helpers.links.new_item'), f, :outflow_items %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-3">
        <%= f.button :submit, class: "btn-primary" %>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to I18n.t('helpers.buttons.back'), outflows_path %>
        </button>
      </div>
    </div>

  </div>
<% end %>
