<%= form_for(outflow) do |f| %>
  <% if outflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outflow.errors.count, "error") %> prohibited this outflow from being saved:</h2>

      <ul>
      <% outflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :cash %>
    <%= f.check_box :cash %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
