<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @outflow.amount %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @outflow.cash %>
</p>

<%= link_to 'Edit', edit_outflow_path(@outflow) %> |
<%= link_to 'Back', outflows_path %>
