<%= simple_form_for(@notification, as: :notification, html: { class: 'form-vertical' },
    method: :post, url: notifications_path ) do |f| %>
	<div class="row">
		<div class="col-6">
			<%= f.error_notification %>
			<%= f.input :title  %>
			<%= f.input :text %>
			<%= f.input :due_date, as: :datetime %>
			<%= f.input :done %>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-5">
			<button type="button" class="btn btn-outline-primary">
        <%= link_to I18n.t('helpers.buttons.back'), notifications_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')} %>
      </button>
		</div>
		<div class="col-1">
      <%= f.button :submit, class: "btn-primary" %>
		</div>
	</div>
<% end %>