<%= simple_form_for(@notification, as: :notification, html: { class: 'form-vertical' },
    method: :post, url: notifications_path ) do |f| %>
	<div class="row">
		<div class="col-6">
			<%= f.error_notification %>
			<%= f.input :title  %>
			<%= f.input :text %>
			<%= f.input :due_date, as: :datetime %>
			<%= f.input :done %>
			<%= f.button :submit, class: "btn-primary" %>
		</div>
	</div>
<% end %>