<%= simple_form_for(@notification, html: { class: 'form-vertical' }) do |f| %>
	<div class="row">
		<div class="col-4">
			<%= f.error_notification %>
			<%= f.input :title  %>
			<%= f.input :text %>
			<%= f.input :done %>
			<%= f.button :submit, class: "btn-primary" %>
		</div>
	</div>
<% end %>