<p id="notice"><%= notice %></p>

<h1><%= I18n.t('activerecord.models.notification.other') %></h1>

<table>
	<thead>
		<tr>
			<th><%= I18n.t('activerecord.attributes.notifications.title') %></th>
			<th><%= I18n.t('activerecord.attributes.notifications.text') %></th>
			<th><%= I18n.t('activerecord.attributes.notifications.done') %></th>
			<th colspan="3"> </th>
		</tr>
	</thead>

	<tbody>
		<% @notifications.order(created_at: :desc).each do |notification| %>
			<tr>
				<td><%= notification.title %></td>
				<td><%= notification.text %></td>
				<td><%= notification.done %></td>
				<td><%= link_to I18n.t('helpers.buttons.show'), notification %></td>
				<td><%= link_to I18n.t('helpers.buttons.edit'), edit_notification_path(notification) %></td>
				<td><%= link_to I18n.t('helpers.buttons.destroy'), notification, method: :delete, data: { confirm: I18n.t('helpers.buttons.are_you_sure') } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>