<p id="notice"><%= notice %></p>

<p>
	<strong><%= I18n.t('activerecord.attributes.notifications.title') %></strong>
	<%= @notification.title %>
</p>

<p>
	<strong><%= I18n.t('activerecord.attributes.notifications.text') %></strong>
	<%= @notification.text %>
</p>

<p>
	<strong><%= I18n.t('activerecord.attributes.notifications.done') %></strong>
	<%= @notification.Done %>
</p>

<%= link_to I18n.t('helpers.buttons.edit'), edit_notification_path(@notification) %> |
<%= link_to I18n.t('helpers.buttons.back'), notifications_path %>