<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @notification.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @notification.text %>
</p>

<p>
	<strong>Done</strong>
	<%= @notification.Done %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>