<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<h4>PymeAdmin</h4>
	<%# image_tag("Logotipo_redondo.png", width: '50px') %>

	<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item">
				<%= link_to I18n.t('activerecord.models.inflow.other'), inflows_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('activerecord.models.outflow.other'), outflows_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to	I18n.t('activerecord.models.product.other'), products_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('activerecord.models.supplier.other'), suppliers_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('activerecord.models.supply.other'), supplies_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('activerecord.models.notification.other'), notifications_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('views.headers.pages.take'), take_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('views.headers.pages.statistics'), statistics_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to I18n.t('activerecord.models.supply_product_link.other'), supply_product_links_path, class: "nav-link" %>
			</li>
			<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<% if user_signed_in? %>
			    	<%= I18n.t('devise.views.signed_in_as')%>  <%= current_user.username %>
			    <% else %>
			    	<%= I18n.t('devise.failure.unauthenticated') %>
			    <% end %>
			  </button>
			  <div class="dropdown-menu">
			  	<% if user_signed_in? %>
			    	<%= link_to I18n.t('devise.views.edit'), edit_user_registration_path, class: "dropdown-item" %>
			    	<%= link_to I18n.t('devise.views.logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
			    <% else %>
			    	<%= link_to I18n.t('devise.views.login'), new_user_session_path, class: "dropdown-item" %>
			    	<%# link_to I18n.t('devise.views.sign_up'), new_user_registration_path, class: "dropdown-item" %>
			    <% end %>
			  </div>
			</div>
		</ul>
	</div>
</nav>
