<div class="container-fluid">
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <h1><%= I18n.t('views.headers.pages.expenses') %></h1>
    </div>
  </div>

  <div class="row mt-2 mb-3">
    <%= simple_form_for(:pages, wrapper: :inline_form, html: { class: "form-inline col-12" },
    url: expenses_path , method: :get) do |f| %>
      <%= f.error_notification %>
      <div class="col-2">
        <%= f.input :date_from, id: 'date_from', placeholder: I18n.t('helpers.search.from')%>
      </div>
      <div class="col-2">
        <%= f.input :date_to, id: 'date_to', placeholder: I18n.t('helpers.search.to')%>
      </div>
      <div class="col-2">
        <%= f.button :submit, I18n.t('helpers.buttons.search'), class: "btn-primary" %>
      </div>
    <% end %>
  </div>

</div>

<script>
  $( function() {
    $( "#pages_date_from" ).datepicker();
    $( "#pages_date_to" ).datepicker();
  } );
</script>