<div class="container-fluid">
  <div class="row mt-2 mb-1">
    <div class="col-6">
      <h1><%= I18n.t('views.headers.pages.take') %></h1>
    </div>
  </div>

  <div class="row mt-1 mb-3">
    <%= simple_form_for(:pages, wrapper: :inline_form, html: { class: "form-inline col-12" },
    url: take_path , method: :get) do |f| %>
      <%= f.error_notification %>
      <div class="col-2">
        <%= f.input :date, id: 'date', placeholder: I18n.t('helpers.search.date')%>
      </div>
      <div class="col-2">
        <%= f.button :submit, I18n.t('helpers.buttons.search'), class: "btn-primary" %>
      </div>
    <% end %>
  </div>


  <div class='row'>
    <div class="col-lg-4">
      <div class='col-12'>
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h4 class="card-title"><%= I18n.t('activerecord.models.inflow.other') %>: $<%= @variables[:inflow_total] %></h4>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h4 class="card-title"><%= I18n.t('views.body.pages.take.cash_inflows') %>: $<%= @variables[:cash_inflows].sum('total') %></h4>
          </div>
        </div>
      </div>

      <div class='col-12'>
        <table class="table table-light">
          <thead>
            <tr>
              <th><%= I18n.t('activerecord.attributes.inflows.total') %></th>
              <th><%= I18n.t('activerecord.models.inflow_item.other') %></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @variables[:cash_inflows].each do |inflow| %>
              <tr>
                <td>$ <%= inflow.total %></td>
                <td>
                  <% inflow.items.each do |item| %>
                    <span class="badge badge-success small-top-margin"><%= item.list %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4">
      <div class='col-12'>
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h4 class="card-title"><%= I18n.t('activerecord.models.outflow.other') %>: $<%= @variables[:outflow_total] %></h4>
          </div>
        </div>
      </div>

      <div class='col-12'>
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h4 class="card-title"><%= I18n.t('views.body.pages.take.cash_outflows') %>: $<%= @variables[:cash_outflows].sum('total') %></h4>
          </div>
        </div>
      </div>

      <div class='col-12'>
        <table class="table table-light">
          <thead>
            <tr>
              <th><%= I18n.t('activerecord.attributes.outflows.total') %></th>
              <th><%= I18n.t('activerecord.attributes.outflows.supplier_id') %></th>
              <th><%= I18n.t('activerecord.models.outflow_item.other') %></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @variables[:cash_outflows].each do |outflow| %>
              <tr>
                <td>$<%= outflow.total %></td>
                <td><%= outflow.supplier.name %></td>
                <td>
                  <% outflow.items.each do |item| %>
                    <span class="badge badge-danger small-top-margin"><%= item.list %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4">
      <div class='col-12'>
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h4 class="card-title"><%= I18n.t('views.body.pages.take.balance') %>: $<%= @variables[:inflow_total] - @variables[:outflow_total] %></h4>
          </div>
        </div>
      </div>

      <div class='col-12'>
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h4 class="card-title"><%= I18n.t('views.body.pages.take.cash_total') %>: $<%= @variables[:cash_inflows].sum('total') - @variables[:cash_outflows].sum('total') %></h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $( function() {
    $( "#pages_date" ).datepicker();
  } );
</script>