<%= simple_form_for(@supply, html: { class: 'form-vertical' }) do |f| %>
  <div class="row">
    <div class="col-4">
      <%= f.error_notification %>
      <%= f.input :name  %>
      <%= f.input :price %>
      <%= f.input :unit, collection: ['u','kg','$'], prompt: I18n.t('simple_form.prompts.defaults.unit') %>
      <%= f.input :stock %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-3">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to I18n.t('helpers.buttons.back'), supplies_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')} %>
      </button>
    </div>
  </div>

<% end %>