<%= simple_form_for(@supply_product_link, html: { class: 'form-vertical' }) do |f| %>
  <div class="row">
    <div class="col-4">
      <%= f.error_notification %>
      <%= f.input :product_id  %>
      <%= f.input :supply_id %>
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>