<div class= 'container-fluid'>
  <%= render 'shared/notice', notice: notice %>
  <%= render 'shared/alert', alert: alert %>

  <div class="row mt-2 mb-2">
    <div class="col-6">
      <h2><%= I18n.t('activerecord.models.supply_product_link.other') %></h2>
    </div>
    <div class="col-3">
      <button type='button' class="btn btn-primary btn-lg">
        <%= link_to I18n.t('helpers.links.new_supply_product_link'), new_supply_product_link_path, class: 'white-text' %>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <table class='table table-light'>
        <thead>
          <tr>
            <th><%= I18n.t('activerecord.attributes.supply_product_links.product_id') %></th>
            <th><%= I18n.t('activerecord.attributes.supply_product_links.supply_id') %></th>
          </tr>
        </thead>
        <tbody>
          <% @supply_product_links.each do |supply_product_link| %>
            <tr>
              <td><%= Product.find(supply_product_link.product_id).name %></td>
              <td><%= Product.find(supply_product_link.supply_id).name %></td>
              <td>
                <button type="button" class="btn btn-danger btn-sm">
                  <%= link_to I18n.t('helpers.buttons.destroy'), supply_product_link, class: 'white-text',
                  method: :delete, data: { confirm: I18n.t('helpers.buttons.are_you_sure') } %>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>

</div>