<%= simple_form_for(@inflow, html: { class: 'form-vertical' }) do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <%= render 'shared/errors', klass: inflow %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4><%= I18n.t('activerecord.models.inflow_item.other') %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <% 8.times do |n| %>
          <%= f.simple_fields_for :inflow_items do |builder| %>
            <%= render "inflow_item_fields", number: n, f: builder %>
            <!-- <div class="links ml-3 mb-2">
              <button type="button" class="btn btn-outline-primary">
                <%= link_to_add_association I18n.t('helpers.links.new_item'), f, :inflow_items %>
              </button>
            </div> -->
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row fields mb-2 mt-4">
      <div class="col-6">
          <%= f.input :cash, input_html: { checked: true } %>
      </div>
      <div class="col-6" id="total">
          Total:
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <%= f.button :submit, class: "btn-primary" %>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to I18n.t('helpers.buttons.back'), inflows_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')} %>
        </button>
      </div>
    </div>
  </div>
<% end %>