<%= form_for(@inflow) do |f| %>
  <% if inflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inflow.errors.count, "error") %> prohibited this inflow from being saved:</h2>

      <ul>
      <% inflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.label :total %>
    <%= f.number_field :total %> <br />
    <%= f.label :cash %>
    <%= f.check_box :cash %>

  </div>

  <%= f.fields_for :inflow_items do |builder| %>
    <%= render "inflows/inflow_items_fields", :builder => builder %>
  <% end %>

  <p><%= link_to_add_fields I18n.t('helpers.links.new_inflow'), f, :inflow_items %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
