<%= form_for(inflow) do |f| %>
  <div class="row">
    <%= render 'shared/errors', klass: inflow %>
  </div>

  <div class="fields">
    <%= f.label :total %>
    <%= f.number_field :total %> <br />
    <%= f.label :cash %>
    <%= f.check_box :cash %>
  </div>

  <%= f.fields_for :inflow_items do |builder| %>
    <%= render "inflows/inflow_items_fields", :builder => builder %>
  <% end %>

  <p><%= link_to_add_fields I18n.t('helpers.links.new_item'), f, :inflow_items %></p>

  <div class="actions">
    <%= f.submit %>
    <%= link_to I18n.t('helpers.buttons.back'), inflows_path %>
  </div>
<% end %>
