<%= simple_form_for(@inflow, html: { class: 'form-vertical' }) do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <%= render 'shared/errors', klass: inflow %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4><%= I18n.t('activerecord.models.inflow_item.other') %></h4>
      </div>
    </div>

    <div>
      <%= f.simple_fields_for :inflow_items do |builder| %>
        <% if action_name == 'edit' %>
          <%= render "edit_inflow_item_fields", builder: builder, inflow: @inflow %>
        <% else %>
          <%= render "inflow_item_fields", builder: builder, inflow: @inflow %>
        <% end %>
      <% end %>
    </div>

    <div class="row fields mb-2 mt-4">
      <div class="col-5">
      </div>
      <div class="col-1">
        <%= f.input :cash, input_html: { checked: true } %>
      </div>
      <div class="col-6" id="total">
        <%= I18n.t('activerecord.attributes.inflows.total') %>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-5">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to I18n.t('helpers.buttons.back'), inflows_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')} %>
        </button>
      </div>
      <div class="col-3">
        <%= f.button :submit, class: "btn-primary" %>
      </div>
    </div>
  </div>
<% end %>