<div class="fields">
  <fieldset>
    <%= builder.label I18n.t('activerecord.models.inflow_item.other') %> <br />
    <%= builder.label :quantity %>
    <%= builder.number_field :quantity %>
    <%= builder.label :product_id %>
    <%= builder.number_field :product_id %> <br / >
  	<%= link_to_remove_fields I18n.t('helpers.buttons.remove'), builder %>
  </fieldset>
</div>