<p id="notice"><%= notice %></p>

<h1> <%= I18n.t('activerecord.models.inflow.other') %> </h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('activerecord.attributes.inflows.total') %></th>
      <th><%= I18n.t('activerecord.attributes.inflows.cash') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inflows.order(created_at: :desc).each do |inflow| %>
      <tr>
        <td><%= inflow.total %></td>
        <td><%= inflow.cash %></td>
        <td><%= link_to I18n.t('helpers.buttons.show'), inflow %></td>
        <td><%= link_to I18n.t('helpers.buttons.edit'), edit_inflow_path(inflow) %></td>
        <td><%= link_to I18n.t('helpers.buttons.destroy'), inflow, method: :delete, data: { confirm: I18n.t('helpers.buttons.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('helpers.links.new_inflow'), new_inflow_path %>
