<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('activerecord.attributes.inflows.total') %></strong>
  <%= @inflow.total %>
</p>

<%= link_to I18n.t('helpers.buttons.edit'), edit_inflow_path(@inflow) %> |
<%= link_to I18n.t('helpers.buttons.back'), inflows_path %>
