<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('activerecord.attributes.inflows.total') %></strong>
  <%= @inflow.total %>
</p>

<p>
  <strong><%= I18n.t('activerecord.attributes.inflows.cash') %></strong>
  <%= @inflow.cash %>
</p>

<div class="fields">
	<h3><%= I18n.t('activerecord.models.inflow_item.other') %></h3>
	<table>
	  <thead>
	    <tr>
	      <th><%= I18n.t('activerecord.attributes.inflow_items.quantity') %></th>
	      <th><%= I18n.t('activerecord.attributes.inflow_items.product_id') %></th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @inflow.inflow_items.each do |item| %>
	      <tr>
	        <td><%= item.quantity %></td>
	        <td><%= item.product.name %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<%= link_to I18n.t('helpers.buttons.edit'), edit_inflow_path(@inflow) %> |
<%= link_to I18n.t('helpers.buttons.back'), inflows_path %>
