<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="jumbotron">
        <h3><%= ENV["COMPANY_NAME"] %></h3>
        <p class="mb-0"><%= ENV['COMPANY_OWNER'] %></p>
        <p class="mb-0"><%= ENV['COMPANY_OWNER_CUIT'] %></p>
        <p class="mb-0"><%= ENV['COMPANY_ADDRESS'] %></p>
        <p class="mb-0"><%= ENV['COMPANY_PHONE'] %></p>
        <p class="mb-0"><%= I18n.l(@inflow.created_at, format: :default) %></p>
        <hr class="my-4">
        <% @inflow.items.each do |item| %>
          <p><%= item.receipt_list %></p>
        <% end %>
        <hr class="my-4">
        <p><%= I18n.t('activerecord.attributes.inflows.total') %>:  $<%= @inflow.total %></p>
        <p><%= ENV['PURCHASE_MESSAGE'] %></p>
      </div>
    </div>
  </div>
</div>