<%= simple_form_for(@supplier, html: { class: 'form-vertical' }) do |f| %>
  <div class="row">
    <div class="col-4">
      <%= f.error_notification %>
      <%= f.input :name  %>
      <%= f.input :phone_number %>
      <%= f.input :account_balance %>
      <%= f.input :notification_threshold %>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <div class="col-3">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to I18n.t('helpers.buttons.back') , suppliers_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')} %>
      </button>
    </div>
  </div>
<% end %>
