<div class="container-fluid">

	<div class="row">
		<div class="col-6">
	  	<h1><%= @supplier.name %></h1>
	  </div>
	</div>

	<div class="row">
		<div class="col-3">
	  	<h5><%= I18n.t('activerecord.attributes.suppliers.phone_number') %></h5>
	  </div>
	  <div class="col-3">
	  	<%= @supplier.phone_number %>
	  </div>
	</div>

	<div class="row">
		<div class="col-3">
			<h5><%= I18n.t('activerecord.attributes.suppliers.account_balance') %></h5>
		</div>
		<div class="col-3">
	  	<%= @supplier.account_balance %>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-3">
			<button type="button" class="btn btn-outline-success">
				<%= link_to I18n.t('helpers.buttons.edit'), edit_supplier_path(@supplier) %>
			</button>
		</div>
		<div class="col-3">
			<button type="button" class="btn btn-outline-primary">
				<%= link_to I18n.t('helpers.buttons.back'), suppliers_path %>
			</button>
		</div>
	</div>

</div>