<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('activerecord.attributes.suppliers.name') %></strong>
  <%= @supplier.name %>
</p>

<p>
  <strong><%= I18n.t('activerecord.attributes.suppliers.phone_number') %></strong>
  <%= @supplier.phone_number %>
</p>

<p>
  <strong><%= I18n.t('activerecord.attributes.suppliers.account_balance') %></strong>
  <%= @supplier.account_balance %>
</p>

<%= link_to I18n.t('helpers.buttons.edit'), edit_supplier_path(@supplier) %> |
<%= link_to I18n.t('helpers.buttons.back'), suppliers_path %>
