<div class="container-fluid">

	<div class="row">
		<div class="col-6">
	  	<h1><%= @supplier.name %></h1>
	  </div>
	</div>

	<div class="row">
		<div class="col-3">
	  	<h5><%= I18n.t('activerecord.attributes.suppliers.phone_number') %></h5>
	  </div>
	  <div class="col-3">
	  	<%= @supplier.phone_number %>
	  </div>
	</div>

	<div class="row">
		<div class="col-3">
			<h5><%= I18n.t('activerecord.attributes.suppliers.account_balance') %></h5>
		</div>
		<div class="col-3">
	  	<%= @supplier.account_balance %>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-3">
			<button type="button" class="btn btn-outline-success">
				<%= link_to I18n.t('helpers.buttons.edit'), edit_supplier_path(@supplier) %>
			</button>
		</div>
		<div class="col-3">
			<button type="button" class="btn btn-outline-primary">
				<%= link_to I18n.t('helpers.buttons.back'), suppliers_path %>
			</button>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-6">
			<h4><%= I18n.t('views.body.show.history') %></h4>
		</div>
	</div>

  <div class="row mt-1 mb-2">
    <%= simple_form_for(:supplier, wrapper: :inline_form, html: { class: "form-inline col-12" },
        url: supplier_path(@supplier), method: :get) do |f| %>
      <%= f.error_notification %>
      <div class="mr-2">
        <h5><%= I18n.t('helpers.search.by_date') %></h5>
      </div>
      <div class="mr-2">
        <%= f.input :created_at_from, id: 'created_at_from', placeholder: I18n.t('helpers.search.from'), input_html: {value: ''} %>
      </div>
      <div class="mr-2">
        <%= f.input :created_at_to, id: 'created_at_to', placeholder: I18n.t('helpers.search.to'), input_html: {value: ''} %>
      </div>
      <div class="mr-2">
        <%= f.button :submit, I18n.t('helpers.buttons.search'), class: "btn-primary" %>
      </div>
    <% end %>
  </div>

	<div class="row">
		<div class="col-9">
			<table class='table table-light'>
        <thead>
          <tr>
            <th><%= I18n.t('activerecord.attributes.outflows.total') %></th>
            <th><%= I18n.t('activerecord.attributes.outflows.paid') %></th>
            <th><%= I18n.t('activerecord.attributes.outflows.items') %></th>
            <th><%= I18n.t('views.body.show.date') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @transactions.each do |outflow| %>
            <tr>
              <td>$<%= outflow.total %></td>
              <td>$<%= outflow.paid %></td>
              <td><% outflow.items.each do |item| %>
                    <span class="badge badge-primary small-top-margin"><%= item.list %></span>
                  <% end %>
              </td>
              <td><%= I18n.l(outflow.created_at, format: :short) %></td>
            </tr>
          <% end %>
        </tbody>
	    </table>
	  </div>
	</div>
  <%= paginate @transactions %>
  <br>
</div>

<script>
  $( function() {
    $( "#supplier_created_at_from" ).datepicker();
    $( "#supplier_created_at_to" ).datepicker();
  } );
</script>